html, body {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-variant: normal;
    background-color: white;
}
.container {
    margin: auto;
}

#logo {
    float: left;
    margin-right: 700px;
}

#selected_page {
    font-weight: bold;
    font-size: 21px;
    text-decoration: underline;
}

nav {
    font-size: 20px;
    font-weight: lighter;
    background-color: #EEEE;
    grid-area: 1 / 1 / 2 / 4;
}

/* removes indentation of ul elements so the home logo in the navigation bar can be on the far left */
ul {
    margin: 0;
    padding: 0;
}
/* removes default display:block from list items so the navigation bar can be horizontal */
ul li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: lighter;
    text-align: left;
    display: inline;
}

h2 {
    font-weight: lighter;
    text-align: center;
}

header {
    background-color: white;
    grid-area: 2 / 1 / 3 / 4;
    font-weight: lighter;
    font-size:27px;
}

hr {
    border: 1px solid #BDBDBD;
    margin-left: 10px;
    margin-right: 10px;
}

#home-logo {
    margin-left: 10px;
}

/* start order button specifications */
#start_order {
    background-color: #D2ACAC;
    border: medium #A18484;
    border-radius: 19px;
    padding: 14px 20px;
    margin-right: 120px;
    margin-top: 50px;
    font-size: 53px;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-variant: normal;
    float: right;
}

homepage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    margin: auto;
    line-height: 10px;
    background-color: white;
    font-weight: lighter;
    font-size:27px;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    align-content: center;
}

.leftImage {
    grid-area: 1 / 1 / 2 / 2;
}

.middleImage {
    grid-area: 1 / 2 / 2 / 3;
}

.rightImage {
    grid-area: 1 / 3 / 2 / 4;
}

.verticalLine {
    border-left: 2px solid #BDBDBD;
    height: 280px;
}

.viewOptions {
    display: inline-block;
    border: 1.5px solid black;
    text-align: center;
    padding: 2px 2px;
    font-family: Nunito;
    float: right;
    margin-top: 30px;
}

#relaxed_button {
    background-color: #D2ACAC;
}

browsepage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    line-height: 10px;
    background-color: white;
    font-weight: lighter;
    font-size:27px;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    align-content: center;
}
